<table class="tiger full">
  <tr>
    <th>Artifacts Count</th>
    <td>{{artifactsCount}}</td>
  </tr>
  <tr>
    <th>Craftable Artifacts Count</th>
    <td>{{craftablesCount}}</td>
  </tr>
  <tr>
    <th>Users Count</th>
    <td>{{usersCount}}</td>
  </tr>
  <tr>
    <th>Ingredients Count</th>
    <td>{{ingredientsCount}}</td>
  </tr>
  <tr>
    <th>Experiments Count</th>
    <td>{{experimentsCount}}</td>
  </tr>
  <tr>
    <th>Average Experiments Per Artifact</th>
    <td>{{averageExperimentsPerArtifact}}</td>
  </tr>
  <tr>
    <th>Average Artifact Authorships Per User</th>
    <td>{{averageArtifactAuthorshipsPerUser}}</td>
  </tr>
  <tr>
    <th>Number Of Articles Written By Everyone</th>
    <td>{{numberOfArticlesWrittenByEveryone}}</td>
  </tr>
</table>